body{
background-image: url(Imagens/house-of-the-dragon-HBO.webp);


}
h1{
    font-size:70px;
    border: 2px;
    color: red;
    font-family:Georgia, 'Times New Roman', Times, serif
    padding:25%;
    padding-left:35%;
}
