body{
background-image: url(Imagens/house-of-the-dragon-HBO.webp);
width: 300px; height: 150px;

}
h1{
    font-size:50px;
    font-family:Arial, Helvetica, sans-serif;
    padding:40px;
    padding-left:28%;
}
